*{
    margin: 0px;
    padding: 0px;
}
.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
}
.nucleo{
    width: 150px;
    height: 100px;
}
.menu{
    width: 30px;
    height: 30px;
    padding-right: 10px;
}
.search{
    width: 30px;
    height: 30px;
    padding-right: 10px;
}
.left button{
    padding: 5px 10px 5px 10px;
}
.left{
    display: flex;
    margin-top: 30px;
}
.logo{
    margin-top: 30px;
}
.git{
    width: 90%;
}
.top{
    margin-left: 45px;
    margin-right: 45px;
}
.g_ban{
    display: flex;
    margin-top: 150px;
    margin-left: 60px;
}
.banner_1{
    width: 800px;
    height: 400px;
}
.banner_rgt{
   
    height: 100px;
}
.rgt{
    margin-left: 50px;
}
.papers{
    margin-top: 15px;
}
.under{
    text-align: right;
    width: 90%;
    margin-left: 250px;
    background-color: rgb(194, 191, 191);
    margin-top: -100px;
    z-index: auto;
    height: 300px;
}
.trainees{
    margin-right: 20px;
}
.mens{
    margin-right: 20px;
}
.trophy{
    width: 70%;
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
}
.men{
    width: 30px;
    height: 30px;
    margin-top: 60px;
}
.cup{
    max-width: 20px;
    max-height: 20px;
}
.judge{
    margin-left: 200px;
}
.box{
    display: flex;
    justify-content: space-between;
    margin: 50px;
}
.tissue{
    max-width: 90%;
    
}
.jug{
    height: 15px;
    width: 15px;
}
.newest{
    margin-top: 50px;
}
.pit{
    width: 60%;
    margin-top: 50px;
    
}
.bottom{
    text-align: center;
}
.bottom button{
    padding: 10px 20px 10px 20px;
    font-size: 16px;
}
.footer{
    display: flex;
    justify-content: space-between;
    margin: 60px 30px 0px 30px;
}
.social{
    width: 20px;
    height: 20px;
    display: flex;
}
.soc{
    margin-right: 15px;
}
.box_text{
    margin-top: 50px;
}
